@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes simple-pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.animate-simple-pulse {
  animation: simple-pulse 4s ease-in-out infinite;
}

.ql-editor {
  direction: rtl;
  text-align: right;
  min-height: 250px;
  line-height: 1.9;
  font-size: 16px;
}